flows_node-red.json
[{"id":"7b154c0f.265dc4","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"7765c18c.2dc52","type":"mqtt in","z":"7b154c0f.265dc4","name":"","topic":"suhu","qos":"2","datatype":"auto","broker":"b97529cf.1365b8","x":70,"y":440,"wires":[["e615452e.c28788","e4d03097.e14e9","f0291bfb.06e368","9d379a81.a23de8","fafc708.1d2fd9"]]},{"id":"4ef8a7e7.b28e08","type":"mqtt in","z":"7b154c0f.265dc4","name":"","topic":"kelembapan","qos":"2","datatype":"auto","broker":"b97529cf.1365b8","x":90,"y":380,"wires":[["a13706f1.963f68","f79dbcc4.8ca51","f0291bfb.06e368","8778908a.95f7f","fafc708.1d2fd9"]]},{"id":"3fb9940d.0a23dc","type":"mqtt in","z":"7b154c0f.265dc4","name":"","topic":"cahaya","qos":"2","datatype":"auto","broker":"b97529cf.1365b8","x":70,"y":320,"wires":[["6c406c57.57d7f4","6c579efe.c7dec","f0291bfb.06e368","5ad0de40.98305","fafc708.1d2fd9"]]},{"id":"e615452e.c28788","type":"ui_gauge","z":"7b154c0f.265dc4","name":"","group":"ff9ad9a8.255418","order":2,"width":"0","height":"0","gtype":"gage","title":"Temperature","label":"","format":"{{value}}°C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"70","x":670,"y":400,"wires":[]},{"id":"a13706f1.963f68","type":"ui_gauge","z":"7b154c0f.265dc4","name":"","group":"671cf7b.8128008","order":2,"width":"0","height":"0","gtype":"gage","title":"Humadity","label":"","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"70","x":660,"y":320,"wires":[]},{"id":"6c406c57.57d7f4","type":"ui_gauge","z":"7b154c0f.265dc4","name":"","group":"6e4e2ca7.6bb784","order":2,"width":0,"height":0,"gtype":"gage","title":"LDR","label":"","format":"{{value}} fc","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":240,"wires":[]},{"id":"6112f759.6ae3b8","type":"function","z":"7b154c0f.265dc4","name":"Query Database","func":"msg.topic = \"INSERT INTO data_mentah (kelembapan,suhu,cahaya)VALUES('\"+msg.payload.kelembapan+\"','\"+msg.payload.suhu+\"','\"+msg.payload.cahaya+\"')\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":480,"wires":[["dedf3a9f.ea5df8","cd7103c7.40fad"]]},{"id":"f0291bfb.06e368","type":"join","z":"7b154c0f.265dc4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"[92,110]","joinerType":"bin","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":270,"y":520,"wires":[["6112f759.6ae3b8","746ac1fa.65ecd"]]},{"id":"dedf3a9f.ea5df8","type":"debug","z":"7b154c0f.265dc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":580,"wires":[]},{"id":"cd7103c7.40fad","type":"mysql","z":"7b154c0f.265dc4","mydb":"780c2c75.9299d4","name":"","x":700,"y":520,"wires":[["58aed496.a9197c"]]},{"id":"58aed496.a9197c","type":"debug","z":"7b154c0f.265dc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":500,"wires":[]},{"id":"f79dbcc4.8ca51","type":"ui_chart","z":"7b154c0f.265dc4","name":"","group":"671cf7b.8128008","order":1,"width":0,"height":0,"label":"Humadity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":360,"wires":[[]]},{"id":"e4d03097.e14e9","type":"ui_chart","z":"7b154c0f.265dc4","name":"","group":"ff9ad9a8.255418","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":680,"y":440,"wires":[[],[]]},{"id":"6c579efe.c7dec","type":"ui_chart","z":"7b154c0f.265dc4","name":"","group":"6e4e2ca7.6bb784","order":1,"width":0,"height":0,"label":"LDR","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1023","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":650,"y":280,"wires":[[],[]]},{"id":"746ac1fa.65ecd","type":"debug","z":"7b154c0f.265dc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":540,"wires":[]},{"id":"73003ad7.07d364","type":"ui_audio","z":"7b154c0f.265dc4","name":"","group":"6e4e2ca7.6bb784","voice":"id-ID","always":true,"x":660,"y":160,"wires":[]},{"id":"27ed9c41.e6dbe4","type":"function","z":"7b154c0f.265dc4","name":"Kondisi Pakaian","func":"tombol = msg.topic.tombol;\n//suhu = msg.payload.suhu;\ncahaya = msg.payload.cahaya;\nkelembapan = msg.payload.kelembapan;\nif (cahaya < 200 & kelembapan > 50)\n{\n    return  {topic:tombol, payload:0}\n} else{\n    return {topic:tombol, payload:1}\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":20,"wires":[["d41a9080.43cdc","98a697df.b77a18"]]},{"id":"98a697df.b77a18","type":"debug","z":"7b154c0f.265dc4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":20,"wires":[]},{"id":"5ad0de40.98305","type":"debug","z":"7b154c0f.265dc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":260,"wires":[]},{"id":"8778908a.95f7f","type":"debug","z":"7b154c0f.265dc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":320,"wires":[]},{"id":"9d379a81.a23de8","type":"debug","z":"7b154c0f.265dc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":400,"wires":[]},{"id":"926b427.ca3f9c","type":"mqtt out","z":"7b154c0f.265dc4","name":"","topic":"servo","qos":"2","retain":"","broker":"fb2f0563.ac9598","x":930,"y":20,"wires":[]},{"id":"d41a9080.43cdc","type":"ui_switch","z":"7b154c0f.265dc4","name":"","label":"switch","tooltip":"","group":"ca1dfb93.7a62b8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"tombol","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":490,"y":80,"wires":[["ef349c64.22783","41c7ce5b.88d3a"]]},{"id":"ef349c64.22783","type":"debug","z":"7b154c0f.265dc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":140,"wires":[]},{"id":"630d72b0.e3ba7c","type":"debug","z":"7b154c0f.265dc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":100,"wires":[]},{"id":"fafc708.1d2fd9","type":"join","z":"7b154c0f.265dc4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":220,"y":120,"wires":[["27ed9c41.e6dbe4"]]},{"id":"41c7ce5b.88d3a","type":"function","z":"7b154c0f.265dc4","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":60,"wires":[["926b427.ca3f9c"]]},{"id":"b97529cf.1365b8","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.39","port":"1883","clientid":"TEST","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"humadity","birthQos":"2","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ff9ad9a8.255418","type":"ui_group","z":"","name":"Suhu","tab":"445ad53d.3ef5fc","order":4,"disp":true,"width":"6","collapse":false},{"id":"671cf7b.8128008","type":"ui_group","z":"","name":"Kelembapan","tab":"445ad53d.3ef5fc","order":3,"disp":true,"width":"6","collapse":false},{"id":"6e4e2ca7.6bb784","type":"ui_group","z":"","name":"Cahaya","tab":"445ad53d.3ef5fc","order":5,"disp":true,"width":"6","collapse":false},{"id":"780c2c75.9299d4","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"ta_agung","tz":""},{"id":"fb2f0563.ac9598","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.72","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ca1dfb93.7a62b8","type":"ui_group","z":"","name":"out","tab":"ead920bf.daec5","order":2,"disp":true,"width":"6","collapse":false},{"id":"445ad53d.3ef5fc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"ead920bf.daec5","type":"ui_tab","z":"","name":"Perhitungan Metode Naive Bayes","icon":"send","order":8,"disabled":false,"hidden":false}]